<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Fail</title>
</head>
<body class="vh-100 text-bg-danger">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <h2>El mail ingresado ya se encuentra en uso</h2>
        <button type="button" class="btn btn-light" onclick="location.href=`/signup`">Volver</button>
    </div>
</body>
</html>