<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Login</title>
</head>

<body class="text-bg-dark vh-100 d-flex flex-column justify-content-center">
    <h1 class="text-center mt-2">Registro</h1>
    <div>

        <form action="/signup" method="post">
            <div class="mb-3">
                <label for="mail" class="form-label w-75 d-block mx-auto">Correo</label>
                <input type="email" class="form-control w-75 mx-auto" id="mail" name="mail" placeholder="Ingresá tu correo">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label w-75 d-block mx-auto">Contraseña</label>
                <input type="text" class="form-control w-75 mx-auto" id="password" name="password" placeholder="Creá tu contraseña">
            </div>

            <div class="mb-3">
                <label for="name" class="form-label w-75 d-block mx-auto">Nombre</label>
                <input type="text" class="form-control w-75 mx-auto" id="name" name="name" placeholder="Ingresá tu nombre">
            </div>

            <div class="mb-3">
                <label for="adress" class="form-label w-75 d-block mx-auto">Dirección</label>
                <input type="text" class="form-control w-75 mx-auto" id="adress" name="adress" placeholder="Ingresá tu dirección">
            </div>

            <div class="mb-3">
                <label for="age" class="form-label w-75 d-block mx-auto">Edad</label>
                <input type="text" class="form-control w-75 mx-auto" id="age" name="age" placeholder="Ingresá tu edad">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label w-75 d-block mx-auto">Telefono</label>
                <input type="text" class="form-control w-75 mx-auto" id="phone" name="phone" placeholder="Ingresá tu telefono">
            </div>

            <div class="mb-3">
                <label for="photo" class="form-label w-75 d-block mx-auto">Foto</label>
                <input type="text" class="form-control w-75 mx-auto" id="photo" name="photo" placeholder="Ingresá la URL de tu foto">
            </div>

            <button type="submit" class="btn btn-primary d-block mx-auto">Registrarme</button>
        </form>

        <p class="text-center mt-3">Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
</body>

</html>